.wd-bg{
    background-color: black;
    border-color: rgb(47, 51, 54);
    border: 1px solid lightgray;
}

.wd-title{
    margin-top: 12px;
    margin-left: 16px;
    font-size: 20px;
    color: white;
}
.wd-handler{
    color: lightgray;
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
}
.wd-grid{
    clear: both;
    display:flex;
    margin-top:12px;
}
.wd-image{
    margin-left: 16px;
}
.wd-image-div{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.wd-author-grid{
    float: left;
    width:90%;
    margin-left: 12px;
    max-width: 506px;
}
.wd-author {
    color: white;
    font-size: 15px;
}
.wd-author-handle{
    color: lightgray;
    font-size: 15px;
}
.wd-main-content{
    color: white;
    font-size: 15px;
    width: 506px;
}
.wd-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 504px;
    height: 264px;
    margin-top:12px;
    border: 1px solid lightgray;
}

.wd-pic-btext{
    padding: 12px 12px 0px 12px;
    font-size: 15px;
    color: white;
}
.wd-pic-btitle{
    padding: 0px 12px 12px 12px;
    font-size: 15px;
    color: lightgray;
}
.wd-icon{
    margin-top: 12px;
    margin-bottom: 20px;
}

.wd-text-round{
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* .wd-border{
    border: 1px 1px 1px 0px;
} */